.form {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
    top: 54px;
    width: 100%;
    position: fixed;
    z-index: 100;
    border-bottom: 1px solid black;
}

.countries {
    position: relative;
    top: 95px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    color: white;
}

.countries:hover {
    cursor: pointer;
}

.options {
    background-color: brown;
    color: white;
    border-radius: 10px;
    text-align: center;
}

.options:hover {
    cursor: pointer;
}

.submit {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
}

.submitDisabled {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: grey;
}

.submit:hover {
    cursor: pointer;
    border-bottom: 1px solid brown;
}

.errors {
    display: flex;
    flex-direction: column;
}

.errors span {
    color: red;
    width: 100%;
    font-size: 15px;
}

