.navbar {
    border-bottom: solid 1px black;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.5);
}
.home {
    margin: 10px 0;
    padding: 5px 5px;
    color: white;
}

.home:hover {
    color: brown

}

.filters {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    margin: 10px 0;
    padding: 5px 5px;
    color: white;
}

.filters:hover {
    cursor: pointer;
    border-bottom: solid 1px brown;
}

.linkNav {
    margin: 10px 0;
    padding: 5px 5px;
    color: white;
    font-size: 15px;
}

.linkNav:hover {
    cursor: pointer;
    border-bottom: solid 1px brown;
}

.navbar span {
    display: flex;
    align-items: center;
    color: brown;
    font-size: 15px;
}


